body{
    background-image: url(https://s1.1zoom.me/b5050/922/16_KG_Dumbbells_Black_and_white_Gym_538198_3840x2400.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Patua One', cursive;
}
.header .navbar{
    background-image: transparent;
}
.abs-center {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
  }
