* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Patua One', cursive;
}

.container-fluid {
    padding: 0;
}


//VARIABLES SIEMPRE ARRIBA
@import "./variables/colores.scss";
@import "./variables/mixin";
@import "./variables/maps";

@import "./variables/mq.scss";
@import "./fondos/fondo.scss";
@import "./ajustes/ajustes.scss";