.titulo {
    color: white;

    &:hover {
        color: $color-primario;
    }
}

.navbar-dark .navbar-nav .nav-link.active {
    color: $color-primario;

    &:hover {
        color: $color-secundario;

    }
}

.btn-secondary {
    color: $color-primario;
}