.abs-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.card {
    .card-img {
        width: 100%;
        height: 200px;
        object-fit: cover;
        object-position: center;
    }
}


.titulo {
    color: white;

    &:hover {
        color: $color-primario;
    }
}

.navbar-dark .navbar-nav .nav-link.active {
    color: $color-primario;

    &:hover {
        color: #A7BFE8;

    }
}

.btn-secondary {
    color: $color-primario;
}

.main {
    min-height: 100vh;
    margin: 0 auto;
    text-align: center;
}

.carousel-iner {
    max-height: 39rem;
}

.card {
    background-color: #DBE6F6;
}

.imagen {
    border-radius: 50%;
}

.imgGaleria {
    height: 550px;
    object-fit: cover;
    object-position: center;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.buttons {
    font-size: 40px;
    color: #A7BFE8;
    // transform: rotate(45deg);
    &:hover{
        color: #A7BFE8;
    }
}